<div id="comment_<%= comment.id %>">
<table class="table" >
  <tr>
    <td><%= full_name(comment.user) %></td>
    <td><small class="pull-right">
      <%= comment.created_at.strftime("%d %B %Y at %H:%M") %>
      <% if can? :destroy, Comment %>
      <%= link_to 'Delete', comment_path(comment), remote: true, data: { method: :delete }, :class => "delete_comment" %> 
      <%= link_to "Edit", edit_comment_path(comment), remote: true, :class => "edit_comment_url" %>
      <% end %>
    </small></td>
  </tr>
  <tr>
    <td colspan="2">
      <span class="comment_body"><%= scancode comment.body %></span>
    </td>
  </tr>  
</table>
</div>

